


<% if session[:message] %>
  <p class="message">
    <%= session.delete(:message) %>
  </p>
<% end %>
<h2>Sign Up</h2>
<form method="post" action="/signup">
  <div>
    <label for="username"> Username:
      <input name="username" id="username" value="<%= params[:username] %>"/>
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="password" id="password" name="password" />
    </label>
  </div>
  <br>
  <button type="submit">Sign Up</button>
</form>